<%-- <%@ taglib prefix = "form" uri = "http://www.springframework.org/tags/form" %> --%>
<div class="forms-main">
	<h2 class="inner-tittle">Create New Class</h2>
	<div class="graph-form">
		<div class="validation-form" style="padding: 0px">
			<!---->
			<form:form action="${classRegistration}" method="POST"
				modelAttribute="newSchoolClass" enctype="multipart/form-data">
				<div class="col-md-12 form-group1 group-mail"
					style="margin-bottom: 20px">

					<form:input path="classId" placeholder="Class Id:" type="text"
						tabindex="1" autofocus="" />

					<form:errors
						cssStyle="font-size: 0.8em; color: #B52E31; margin-left: .5em;"
						path="classId" />
				</div>

				<div class="clearfix"></div>

				<div class="col-md-12 form-group1 group-mail"
					style="margin-bottom: 20px">
					<form:input path="name" placeholder="Class Name" type="text"
						tabindex="2" autofocus="" />
					<form:errors
						cssStyle="font-size: 0.8em; color: #B52E31; margin-left: .5em;"
						path="name" />
				</div>
				
				<div class="clearfix"></div>

				<div class="col-md-12 form-group1 " style="margin-bottom: 20px">
					<textarea placeholder="Any description..."></textarea>
				</div>
				<div class="clearfix"></div>


				<div class="col-md-12 form-group button-2">
					<button type="submit" class="btn btn-primary">Submit</button>
					<button type="reset" class="btn btn-default">Reset</button>
				</div>
				<div class="clearfix"></div>
			</form:form>

			<!---->
		</div>

	</div>
</div>