<footer>
<!-- 	<p> -->
<!-- 		&copy 2016 IOwnSchool . All Rights Reserved | Design by <a -->
<!-- 			href="https://w3layouts.com/" target="_blank">W3layouts.</a> -->
<!-- 	</p> -->
	<p>
	<h4 style="text-align: center;">Army Public School Foundation</h4>
	<a
			href="https://w3layouts.com/" target="_blank"></a>
	</p>
	
</footer>