<%@page import="java.util.List"%>
<%@page import="java.util.ArrayList"%>
<%@page import="java.util.Iterator"%>
<%@page import="edu.finalyear.project.models.Account"%>
<%@page
	import="org.springframework.security.core.context.SecurityContextHolder"%>
<%@ taglib prefix="c_" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix = "fn_" uri = "http://java.sun.com/jsp/jstl/functions" %>
<div class="sidebar-menu">
	<header class="logo">
		<a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span>
		</a> <a href="index.html"> <span id="logo">
				<center>
					<h1>${context_school.schoolId }</h1>
				</center>

		</span> <!--<img id="logo" src="" alt="Logo"/>-->
		</a>
	</header>
	<div style="border-top: 1px solid rgba(69, 74, 84, 0.7)"></div>
	<!--/down-->
	<div class="down">
		<a href="index.html"><img style="width: 70px; height: 70px;"
			src="data:image/jpeg;base64,<security:authentication
					property='principal.encodedProfilePhoto' />" /></a>
		<a href="index.html"><span class=" name-caret"> <security:authentication
					property="principal.fullName" /></span></a>
		<p>${context_school.fullName }</p>
		<ul>
			<li><a class="tooltips"
				href="/${iownschool}/<security:authentication property="principal.schoolId"/>/<security:authentication property="principal.id" />"><span>Profile</span><i
					class="lnr lnr-user"></i></a></li>
			<li><a class="tooltips" href="index.html"><span>Settings</span><i
					class="lnr lnr-cog"></i></a></li>
			<li><a class="tooltips" href="/project/j_spring_security_logout"><span>Log
						out</span><i class="lnr lnr-power-switch"></i></a></li>
		</ul>
	</div>
	<%
		System.out
				.println("inside sidebar-student.jspf*******Student*******");
	%>
	<!--//down-->
	<div class="menu">
		<ul id="menu">
			<li><a href="${sidebarHome }"><i class="fa fa-tachometer"></i>
					<span>Home</span></a></li>
			<li id="menu-academico"><a href="${allSubjects}"><i
					class="fa fa-table"></i> <span> Subjects</span> <span
					class="fa fa-angle-right" style="float: right"></span></a>
				<ul id="menu-academico-sub">
					<%
						int i = 0;
						Account account = (Account) SecurityContextHolder.getContext()
								.getAuthentication().getPrincipal();
						// 						Iterator<String> iterator = account.getSubjectsIds().iterator();
						// 						while (iterator.hasNext()) {
						List<String> sIds = account.getSubjectsIds();
						for (int k = 0; k < sIds.size(); k++) {
							// 							System.out.println("sIds="+sIds.get(k));
							i++;
							if (i == 6) {
					%>
					<li id="menu-academico-avaliacoes"><a href="${allSubjects}">More</a></li>
					<%
						break;
							} else {
					%>
					<li id="menu-academico-avaliacoes"><a
						href="${myClass}/<%=sIds.get(k) %>"> <%=sIds.get(k).split("@")[0]%></a></li>
					<%
						}
						}
					%>


				</ul></li>



			<li id="menu-academico"><a href="#"><i
					class="fa fa-file-text-o"></i> <span>UnAllocated item</span> <span
					class="fa fa-angle-right" style="float: right"></span></a>
				<ul id="menu-academico-sub">
					<li id="menu-academico-avaliacoes"><a href="forms.html">Sub
							Item</a></li>
					<li id="menu-academico-boletim"><a href="validation.html">Sub
							Item</a></li>
					<li id="menu-academico-boletim"><a href="table.html">Sub
							Item</a></li>
					<li id="menu-academico-boletim"><a href="buttons.html">Sub
							Item</a></li>
				</ul></li>
			<li><a href="${myClass}"><i class="lnr lnr-pencil"></i> <span>My
						Classe</span></a></li>

			<li><a href="${classMates}"><i class="fa fa-smile-o"></i> <span>Classmates</span></a></li>

			<li><a href="#"><i class="lnr lnr-envelope"></i> <span>Message
						To</span><span class="fa fa-angle-right" style="float: right"></span></a>
				<ul>
					<li><a href="inbox.html"><i class="fa fa-inbox"></i>
							Classmate</a></li>
					<li><a href="compose.html"><i
							class="fa fa-pencil-square-o"></i>Teacher</a></li>
					<li><a href="editor.html"><span class="lnr lnr-highlight"></span>
							Head</a></li>

				</ul></li>
			<li><a href="${classMates}"><i class="fa fa-smile-o"></i> <span>Chat
						Room</span></a></li>
			<li><a href="${schoolProfile}"><i class="lnr lnr-pencil"></i>
					<span>School Profile</span></a></li>

		</ul>
	</div>



</div>
<div class="clearfix"></div>